@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
/*  ------------------------- */
/* ------BASE STYLING----- */
/*  ------------------------- */
@layer base {
  /* colors */
  :root {
    --deep-blue: 230 35% 7%;
    --light-blue: 231 77% 90%;
    --almost-white: 0 0% 100%;

    /* TYPOGRAPHY */
    /* FONT FAMILIES */
    --ff-serif: "Bellefair", serif;
    --ff-serif-normal: "Barlow", sans-serif;
    --ff-serif-cond: "Barlow Condensed", sans-serif;

    /* FONT SIZE */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-450: 1.6rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }

  @media (min-width: 35rem) {
    :root {
      /* FONT SIZE  FOR TABLET SCREEN*/
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-500: 1.25rem;
      --fs-400: 1rem;
    }
  }

  @media (min-width: 45rem) {
    :root {
      /* FONT SIZE  FOR LARGEST SCREEN*/
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-500: 1.75rem;
      --fs-400: 1.125rem;
    }
  }
}

/*  ------------------------- */
/* -----RESETTING----- */
/*  ------------------------- */
@layer reset {
  /* https://piccalil.li/blog/a-modern-css-reset */

  *,
  *::before,
  *::after {
    box-sizing: border-box; /*box-sizing */
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
    margin: 0;
  }

  li,
  ol,
  ul {
    list-style: none;
    cursor: pointer;
  }

  a,
  button {
    text-decoration: none;
    border: 0;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--ff-serif-normal);
    font-size: var(--fs-400);
    line-height: 1.5;
    text-rendering: optimizeSpeed !important;
    min-height: 100vh;
    background-color: hsl(var(--deep-blue));
    color: hsl(var(--almost-white));
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto !important;
    }
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/*  ------------------------- */
/* -----utility classes----- */
/*  ------------------------- */
@layer utilities {
  /* typography */
  .ff-serif {
    font-family: var(--ff-serif);
  }
  .ff-serif-cond {
    font-family: var(--ff-serif-cond);
  }
  .ff-serif-normal {
    font-family: var(--ff-serif-normal);
  }
  .letter-spacing-3 {
    letter-spacing: 4.75px;
  }
  .letter-spacing-2 {
    letter-spacing: 2.7px;
  }
  .letter-spacing-1 {
    letter-spacing: 2.35px;
  }
  /* colors */
  .text-white {
    color: hsl(var(--almost-white));
  }
  .text-middle {
    color: hsl(var(--light-blue));
  }
  .text-dark {
    color: hsl(var(--deep-blue));
  }

  .bg-white {
    background-color: hsl(var(--almost-white));
  }
  .bg-middle {
    background-color: hsl(var(--light-blue));
  }
  .bg-dark {
    background-color: hsl(var(--deep-blue));
  }

  .tab-list {
    --gap: 2rem;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .fs-900 {
    font-size: var(--fs-900);
  }
  .fs-800 {
    font-size: var(--fs-800);
  }
  .fs-700 {
    font-size: var(--fs-700);
  }
  .fs-600 {
    font-size: var(--fs-600);
  }
  .fs-500 {
    font-size: var(--fs-500);
  }
  .fs-450 {
    font-size: var(--fs-450);
  }
  .fs-400 {
    font-size: var(--fs-400);
  }
  .fs-300 {
    font-size: var(--fs-300);
  }
  .fs-200 {
    font-size: var(--fs-200);
  }

  .fs-900,
  .fs-800,
  .fs-700,
  .fs-600 {
    line-height: 1.1;
  }
  .dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: 0.5em;
    background-color: hsl(var(--almost-white) / 0.25);
    /* background-color: transparent; */
  }

  .dot-indicators > *:hover,
  .dot-indicators > *:focus {
    background-color: hsl(var(--almost-white) / 0.5);
  }

  .dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--almost-white) / 1) !important;
  }

  .numbered-title {
    font-family: var(--ff-serif-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
  }

  .numbered-title span {
    margin-right: 0.5em;
    font-weight: 700;
    color: hsl(var(--almost-white) / 0.25);
  }

  /* display-utility */

  .flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .d-block {
    display: block;
  }
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
  }

  .flow-space-small {
    --flow-space: 0.75rem;
  }

  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--almost-white));
    color: hsl(var(--deep-blue));
    padding: 0.5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
  }

  .skip-to-content:focus {
    transform: translateY(0);
  }
  @layer navigation {
    .logo {
      /* margin: 1rem; */
      margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    }

    .primary-header {
      justify-content: space-between;
      align-items: center;
    }

    .primary-navigation {
      --gap: clamp(1.5rem, 5vw, 3.5rem);
      --underline-gap: 2rem;
      backdrop-filter: blur(1.5rem);
      background: hsl(var(--almost-white) / 0.05);
      margin: 0;
      padding: 0;
    }

    .mobile-nav-toggle {
      display: none;
    }
    /* .primary-navigation.underline-indicators > .active {
      border: 0;
    } */

    @media (max-width: 35em) {
      .primary-navigation {
        position: fixed !important;
        /* backdrop-filter: blur(2rem) !important; */
        inset: 0 0 0 28% !important;
        z-index: 5;
        --underline-gap: 0rem;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translate(100%);
        transition: ease-in-out 0.5s;
      }

      .primary-navigation[data-visible="true"] {
        transform: translate(0);
      }

      .primary-navigation.underline-indicators > .active {
        border: 0;
      }

      .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 10;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(/assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        /* height: 1.5rem; */
        border: 0;
        transition: ease-in-out 0.5s;
      }

      .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(/assets/shared/icon-close.svg);
      }

      /* .mobile-nav-toggle:focus-visible {
        /* outline: 3px solid red; */
      /* outline-offset: 5px; */
      /* } */

      @media (hover: hover) {
        .underline-indicators > *:hover {
          border-color: hsl(var(--almost-white) / 0.5);
        }
      }
    }

    .primary-navigation a > span {
      font-weight: 700;
      margin-right: 0.5em;
    }

    @media (min-width: 35em) {
      .primary-navigation {
        padding-inline: clamp(3rem, 8vw, 7rem);
      }
    }

    @media (min-width: 35em) and (max-width: 44em) {
      .primary-navigation a > span {
        display: none;
      }
    }

    @media (min-width: 45em) {
      .primary-header::before {
        content: "";
        display: block;
        position: relative;
        background: hsl(var(--almost-white) / 0.25);
        width: 100%;
        height: 1px;
        order: -1;
        /* left: 2.5rem; */
        margin-right: -2.5rem;
        z-index: 3;
      }

      .logoDiv {
        order: -2;
      }

      .primary-navigation {
        margin-block: 2rem;
      }
    }

    .underline-indicators > * {
      padding: var(--underline-gap, 0.5rem) 0;
      border-bottom: 0.2em solid hsl(var(--almost-white) / 0);
      background-color: transparent !important;
      /* border: 2px solid white; */
    }

    .underline-indicators > *:hover,
    .underline-indicators > *:focus {
      border-color: hsl(var(--almost-white) / 0.5);
    }

    .underline-indicators > .active,
    .underline-indicators > [aria-selected="true"] {
      color: hsl(var(--almost-white) / 1);
      border-color: hsl(var(--almost-white) / 1);
    }
  }
}

@layer explore-button {
  .large-button {
    font-size: 2rem;
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 1em;
    border-radius: 50%;
    aspect-ratio: 1;
  }
  .large-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl(var(--almost-white) / 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
  }
  .pulser {
    width: 10px;
    height: 10px;
    background: hsl(var(--deep-blue));
    border-radius: 50%;
    position: absolute;
    top: 48.5%;
    left: 48%;
    /* transform: translateY(120px); */
    animation: orbit 5s linear infinite;
    z-index: 3;
  }
  .pulser1 {
    width: 10px;
    height: 10px;
    background: hsl(var(--deep-blue));
    border-radius: 50%;
    position: absolute;
    top: 48.5%;
    left: 48%;
    /* transform: translateY(120px); */
    animation: orbit1 5s linear infinite;
    z-index: 3;
  }

  @keyframes orbit {
    from {
      transform: rotate(0deg) translateX(99px);
    }
    to {
      transform: rotate(360deg) translateX(100px);
    }
  }

  @keyframes orbit1 {
    from {
      transform: rotate(0deg) translateX(100px);
    }
    to {
      transform: rotate(-360deg) translateX(100px);
    }
  }

  .large-button::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl(var(--almost-white) / 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
    animation: pulse 1500ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  }
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .large-button:hover::after,
  .large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
    animation: none;
  }
}

@layer background {
  body {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .home {
    background-image: url(/assets/home/background-home-mobile.jpg);
  }

  @media (min-width: 35rem) {
    body {
      background-image: url(/assets/home/background-home-tablet.jpg);
      background-position: center center;
    }
  }

  @media (min-width: 45rem) {
    .home {
      background-image: url(/assets/home/background-home-desktop.jpg);
    }
  }
  /*  ------------------------- */
  /* -----destination background----- */
  /*  ------------------------- */

  .destination {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
  }

  @media (min-width: 35rem) {
    .destination {
      background-image: url(/assets/destination/background-destination-tablet.jpg);
      background-position: center center;
    }
  }

  @media (min-width: 45rem) {
    .destination {
      background-image: url(/assets/destination/background-destination-desktop.jpg);
    }
  }

  /*  ------------------------- */
  /* -----crew background----- */
  /*  ------------------------- */

  .crew {
    background-image: url(/assets/crew/background-crew-mobile.jpg);
  }

  @media (min-width: 35rem) {
    .crew {
      background-image: url(/assets/crew/background-crew-tablet.jpg);
      background-position: center center;
    }
  }

  @media (min-width: 45rem) {
    .crew {
      background-image: url(/assets/crew/background-crew-desktop.jpg);
    }
  }

  /*  ------------------------- */
  /* -----Technology background----- */
  /*  ------------------------- */

  .technology {
    background-image: url(/assets/technology/background-technology-mobile.jpg);
  }

  @media (min-width: 35rem) {
    .technology {
      background-image: url(/assets/technology/background-technology-tablet.jpg);
      background-position: center center;
    }
  }

  @media (min-width: 45rem) {
    .technology {
      background-image: url(/assets/technology/background-technology-desktop.jpg);
    }
  }
}

@layer layouts {
  .grid-container {
    /* border: 5px solid green; */
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
  }
  .grid-container p:not([class]) {
    max-width: 50ch;
  }
  .numbered-title {
    grid-area: title;
  }
  /*  ------------------------- */
  /* -----destination layouts----- */
  /*  ------------------------- */
  .destination--grid-container {
    --flow-space: 2rem;
    grid-template-areas:
      "title"
      "image"
      "tabs"
      "content";
  }

  .destination--grid-container > picture {
    grid-area: image;
    max-width: 65%;
  }
  .destination--grid-container > .tab-list {
    grid-area: tabs;
  }
  .destination--grid-container > .destination-info {
    grid-area: content;
  }
  .destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--almost-white) / 0.1);
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }

  @media (min-width: 35em) {
    .numbered-title {
      justify-self: start;
      margin-top: 2rem;
    }
    .destination-meta {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .destination--grid-container > picture {
      max-width: 60%;
    }
    .crew--grid-container {
      padding-bottom: 0;
      grid-template-areas:
        "title"
        "content"
        "tabs"
        "image" !important;
    }
  }

  @media (min-width: 45em) {
    .grid-container {
      text-align: left;
      column-gap: var(--container-gap, 2rem);
      /* grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr); */
      grid-template-columns: minmax(2rem, 1fr) minmax(0, 30rem) minmax(0, 30rem) minmax(2rem, 1fr);
    }

    .home--grid-container {
      padding-bottom: 6rem;
      place-items: end;
    }

    .home--grid-container > *:first-child {
      grid-column: 2;
      /* outline: 2px solid yellow; */
    }
    .home--grid-container > *:last-child {
      grid-column: 3;
      /* outline: 2px solid red; */
    }
    .destination--grid-container {
      justify-items: start;
      align-items: start;
      grid-template-areas:
        ". title title ."
        ". image tabs ."
        ". image content .";
    }
    .destination--grid-container > picture,
    .crew--grid-container > picture {
      max-width: 80%;
    }
    .destination-meta p {
      font-size: 1.75rem;
    }
    .destination-meta {
      justify-content: start;
      --gap: min(6vw, 6rem);
    }

    .crew--grid-container {
      grid-template-areas:
        ".  title title ."
        ". content image ."
        ". content image ."
        ". tabs image ." !important;
    }
    .crew--grid-container > .dot-indicators {
      justify-self: start;
    }
    .technology--grid-container {

      grid-template-columns: minmax(0rem, 1fr) minmax( 0rem, 1fr) minmax(0, 30rem) minmax(0, 30rem);
      grid-template-areas:
      " . title title . "
      ". tabs  . image "
      " . tabs content  image "
      ". tabs .  image " !important
    }

    .technology--grid-container > .dot-indicators {
      flex-direction: column;
    }
    .technology--grid-container > picture {
      justify-self: end;
    }
  }

  /*  ------------------------- */
  /* -----crew layouts----- */
  /*  ------------------------- */

  .crew--grid-container {
    --flow-space: 2rem;
    grid-template-areas:
      "title"
      "image"
      "tabs"
      "content";
  }
  .crew--grid-container > picture {
    grid-area: image;
    border-bottom: 1px solid hsl(var(--almost-white) / 0.1);
  }

  .crew--grid-container > .dot-indicators {
    grid-area: tabs;
  }

  .crew--grid-container > .crew-details {
    grid-area: content;
  }
  .crew--grid-container > .crew-details h2 {
    /* color: hsl(var(--almost-white) / .5); */
    opacity: 0.5;
  }
  /*  ------------------------- */
  /* -----technilogy layouts----- */
  /*  ------------------------- */

  .technology .dot-indicators > * {
    border: 1px solid hsl(var(--almost-white) / 0.4);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent !important;
    color: hsl(var(--almost-white));
    justify-content: center;
    align-items: center;
    padding:   clamp(1.5rem, 5vw, 2rem);
  }
  .technology .dot-indicators > *:hover,
  .technology .dot-indicators > *:focus {
    border: 1px solid hsl(var(--almost-white) / 0.9);
  }
  .technology .dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--almost-white) / 1) !important;
    color: hsl(var(--deep-blue));
  }

  .technology--grid-container {
    padding-inline: 0;
    grid-template-areas:
      "title"
      "image"
      "tabs"
      "content";
  }
  .technology--grid-container > article {
    padding-inline: 1rem;
  }
  .technology--grid-container > picture {
    grid-area: image;
    max-width: 100%;
  }

  .technology--grid-container > .dot-indicators {
    grid-area: tabs;
  }

  .technology--grid-container > .crew-details {
    grid-area: content;
  }
  .technology--grid-container > .crew-details h2 {
    /* color: hsl(var(--almost-white) / .5); */
    opacity: 0.5;
  }
}

@layer image-rotation {
  .destination--grid-container > picture {
    animation: spin 30s infinite linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
